<style>
  .grid-container {
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
</style>

<div class="jumbotron py-3">
  <h1 class="display-4 text-center">Pasticceria</h1>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a  class="navbar-brand" routerLink="/vetrina">Vetrina</a>
    <a  class="navbar-brand" routerLink="/dolci">Dolci</a>
</nav>

<div class="content">
  <router-outlet></router-outlet>
</div>

   

   

